/* Here is your custom css styles. */
@font-face{
    font-family: 'hl';
    src: url('../diy-font/SourceCodePro-Black.ttf');
}

/** 表示全局使用，如果不想全局使用不要添加该段 */
body{
    font-family: 'hl';
}


/* 可以局部使用，建议添加 */
.diyFont{
    font-family: 'hl';
}
